.container{
    /* overflow: hidden !important; */
}
/* @media (min-width: 1200px) {
    input[type=text], input[type=password]{
        display: none !important;
    }
} */
@media (max-width: 1200px) {
    input[type=text], input[type=password] , input[type=email]{
        width: 380px !important;
    }
    .color-danger{
        padding: 15px 0px !important;
    }
    .special .special-content .item-spcial{
        min-width: 243px !important;
    }
}
@media (max-width: 991px) {
    input[type=text], input[type=password], input[type=email]{
        width: 250px !important;
    }
    i.fa-solid.fa-magnifying-glass {
        left: 35    px !important;
        top: 0px;
    }
    img.logo {
        width: 85px;
    }
    .color-danger{
        display: none;
    }
    .meza img{
        width: 150px !important;
    }
    .header-top{
        display: none;
    }
    .header{
        height: 80px !important;
    }
    .acount{
        display: block;
    }
}
@media (max-width: 768px) {
    .acount{
        display: none;

    }
    .sr{
        /* width: 768px !important; */
        /* padding: 0 !important; */
        margin: 0 auto!important;
        max-width: 650px !important;
        padding-left: 0px !important;

    }
    .color-danger{
        font-size: 16px !important;
    }
    .t-care-c{
        flex-direction: column !important;
    }
    .infoo{
        width: 100% !important;
        margin: auto;
    }

}
@media (max-width: 540px) {
    input[type=text], input[type=password], input[type=email]{
        width: 210px !important;
    }
    .t-info h1{font-size: 35px !important;}
    .marquee{width: 520px !important;}
}
@media (max-width: 480px) {
    input[type=text], input[type=password], input[type=email]{
        width: 180px !important;
        display: none !important;
    }
    .serach{
        display: none;
    }
    .color-danger{
        display: block;
    }
    img.logo{
        /* width: 65px !important; */
        padding-right: 10px;
        
    }
    ul.category{
        /* margin-left: -42px; */
    }
    .h-b-left{
        display: none !important;
    }
    .h-b-c-right{
        margin-top: 7px;
    }
    ul.category{
        margin-top: 10px !important;

    }
    .toggle{
        font-size: 21px;
        display: block !important;
        padding: 10px;
    }
    .header-bottom .sr{
        justify-content: space-around !important;
    }
    .menu:hover , .menu{
        background-color: transparent !important;
    }
    .special .container .special-content{
        flex-direction: column !important;
    }
    .special .special-content .item-spcial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .special-content a{
        text-align: center;
    }
    .special .container h1{
        text-align: center !important;
    }
    .meza .content-meza {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .meza img{
        width: 300px !important;
        margin: auto;
        padding: 10px;
    }
    .meza .text-end{
        text-align: center !important;
    }
    .t-info{display: none;}
    .marquee{
        width: 360px !important;
    }
}
@media (max-width: 380px) {
    .marquee{width: 340px !important;}
}
@media (max-width: 300px) {
    .color-danger{
        display: none;
    }
    .marquee{
        width: 260px !important;
    }
}